/venv/
/env/
.venv/
.env/
env.bak/
venv.bak/

*.pyc
__pycache__/
*.egg-info/
build/
dist/


*.log
/staticfiles/
/media/


*.sqlite3
db.sqlite3

.env
.env.*

!.env.example

.vscode/
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Flutter Chrome/Web device files (contienen datos sensibles de sesión)
**/chrome-device/
**/.dart_tool/chrome-device/**