/venv/
/env/
.venv/
.env/
env.bak/
venv.bak/

*.pyc
__pycache__/
*.egg-info/
build/
dist/


*.log
/staticfiles/
/media/


*.sqlite3
db.sqlite3

.env
.env.*
*.local
.env.local

!.env.example

.vscode/
.idea/

# Flutter/Dart
ticketera_mobile/.dart_tool/
ticketera_mobile/build/
ticketera_mobile/**/.dart_tool/**
ticketera_mobile/**/build/**
*.log

# Chrome device data (contiene APIs de Google)
**/chrome-device/**

# Android
ticketera_mobile/android/.gradle/
ticketera_mobile/android/local.properties
ticketera_mobile/android/app/build/
ticketera_mobile/android/app/debug/
ticketera_mobile/android/app/profile/
ticketera_mobile/android/app/release/
ticketera_mobile/android/.idea/
ticketera_mobile/android/captures/

# APKs y AABs
*.apk
*.aab

# Keys de firma (IMPORTANTE: nunca commitear)
*.keystore
*.jks
key.properties