/venv/
/env/
.venv/
.env/
env.bak/
venv.bak/

*.pyc
__pycache__/
*.egg-info/
build/
dist/


*.log
/staticfiles/
/media/


*.sqlite3
db.sqlite3

.env
.env.*

!.env.example

.vscode/
.idea/

# Flutter/Dart
ticketera_mobile/.dart_tool/
ticketera_mobile/build/
ticketera_mobile/**/.dart_tool/**
ticketera_mobile/**/build/**
*.log

# Chrome device data (contiene APIs de Google)
**/chrome-device/**