{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}Ticketera{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <style>
        body {
            background: var(--bg);
            display: grid;
            place-items: center;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
